#numpy
numpy

#Python
python3

# torch==1.10.0: PyTorch deep learning framework
torch==1.10.0

# nltk==3.6.5: Natural Language Toolkit for NLP tasks
nltk==3.6.5

# transformers==4.11.3: Library for state-of-the-art pre-trained models for NLP
transformers==4.11.3

# Library for reading xml data 
xml

#Regular Expressions
re

# pandas==1.3.3: Data manipulation and analysis library
pandas==1.3.3

# scikit-learn==1.0.2: Machine learning library for various algorithms
scikit-learn==1.0.2

# tqdm==4.62.3: Library for adding progress bars to Python loops
tqdm==4.62.3

# Command to install all the libraries listed above
pip install numpy torch==1.10.0 nltk==3.6.5 transformers==4.11.3 pandas==1.3.3